<script type="text/javascript" src="https://appleid.cdn-apple.com/appleauth/static/jsapi/appleid/1/en_US/appleid.auth.js"></script>

<div id="appleid-signin" data-color="black" data-border="true" data-type="sign in"></div>
<script type="text/javascript">
    AppleID.auth.init({
        clientId : 'com.tuan.apple.service',
        scope : 'name',
        redirectURI : 'https://sun-test-apple-login.herokuapp.com/redirect',
        nonce : "6ebb627eaa9fd79482a28daf6ac87edf",
        usePopup : true //or false defaults to false
    });
</script>
